//- page-search-bar.pug

//- param : placeholder, id, label, value
mixin _pageSearchBarItem(param)
  div
    label(for=`${param.id}` class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") #{param.label}
      input(type="text" id=`${param.id}` name=`${param.id}` class=`search-bar-item bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500` placeholder=`${param.placeholder}` value=`${param.value?param.value:''}`)
  
mixin pageSearchBar(params)
  form(method='get' id="formPageSearchBar")
    input(type='hidden' id='limit' name='limit' value=`${limit}`)
    input(type='hidden' id='offset' name='offset' value=`${offset}`)
    input(type='hidden' id='rowslength' value=`${rows.length}`)
    div(class="grid gap-6 mb-6 md:grid-cols-6 align-text-bottom")
      for item, no in params
        +_pageSearchBarItem(item)
      if(params.length>0)
        label(for=`btnPageSearchBar` class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") 조회하기
          button(type="submit" id=`btnPageSearchBar` class=`stext-white bg-blue-700 hover:bg-blue-800 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5`) SEARCH
        label(for=`btnPageDownload` class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300") 다운로드
          button(type="submit" id=`btnPageDownload` formaction=`/${domain}/${seq}/download` class=`stext-white bg-blue-700 hover:bg-blue-800 border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5`) SEARCH

        //- button(type="submit" id='btnSearch' class="stext-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") SEARCH

mixin pageSearchBarSingle(param)
  label(for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300")
  div(class="relative")
    div(class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none")
      svg(aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z")
    input(type="search" id="search" class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search")
    button(type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") search
  br